<!DOCTYPE html>
<html>
<head>
	<title>Divide And Conquer</title>
	<link rel="stylesheet" href="style1.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p class='heading'>Divide And Conquer</p>
	<div class='grid'></div>

	</div>

	<div class="circular__read">
		
	</div>
	<script>

// Main
		let grid = document.querySelector('.grid');
		let algo = [
			{
				name: 'Merge Sort',
				link: `divide_and_conquer/merge.html`
			},
			{
				name: 'Quick sort',
				link: `divide_and_conquer/quick.html`
			},
			{
				name: 'Counting Inversion',
				link: `divide_and_conquer/counting_inversion.html`
			},
		]
		init();

// Utility function 

		function init() {
			algo.forEach((e, i) => {
				let html = `
						<a href="${e.link}" class="algo__link">${e.name}</a>
				`
				let algo = document.createElement('div');
				algo.classList.add('algo');
				algo.innerHTML = html;
				grid.appendChild(algo);
			})
		}
	</script>
</body>
</html>
